spring:
  profiles: 
    active: local
---

spring:
  profiles: local
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true
apikey: "YOTUBE_APIKEY"
