span.music_rank {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 800;
}

span.music_title{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 800;
}