    /* Necessary for full page carousel*/
    html,
    header,
    .view {
      height: 100%;
    }

    /* Carousel*/
    .carousel,
    .carousel-item,
    .carousel-item.active {
      height: 100%;
    }

    .carousel-inner {
      height: 100%;
    }

    @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
      }
    }

    /* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
          opacity: 0.99
        }
  
        to {
          opacity: 1
        }
      }
  
      @keyframes chartjs-render-animation {
        from {
          opacity: 0.99
        }
  
        to {
          opacity: 1
        }
      }
  
      .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
      }